<div>
  <div>
    <h1>Filter Product</h1>
  </div>
  <form id="input-container" [formGroup]="productForm">
    <mat-form-field class="inputs">
      <mat-label>Product starting price Label</mat-label>
      <input id="startPrice" matInput  formControlName="startingPrice" />
    </mat-form-field>

    <mat-form-field class="inputs">
      <mat-label>Product ending price Label</mat-label>
      <input id="endPrice" matInput  formControlName="endingPrice"/>
    </mat-form-field>

    <div id="search-button">
        <button type="button" id="search">
            search
        </button>
    </div>
</form>

  <div id="products-view">
    <div>
        <h1>Product Details</h1>
    </div>
    <div id="products-container">
        <mat-card *ngFor="let product of productsArray" >
            <div id="imageContainer">
                <img [src]="product.productImage" class="product-img" />
            </div>
            <p class="productName">{{product.name}}</p>
            <p class="category">Category : {{product.category}}</p>
            <p class="category">Price : {{product.price}}</p>
        </mat-card>

    </div>
  </div>
</div>
